*{
    margin: 0;
    padding: 0;
    }
    body{
        background: url(bg.jpg) no-repeat center center fixed;
        background-size: cover; 
    }
    .container{ 
        color: white;
        position: absolute;
        top: 25%;
        left: 40%; 
    }
    .container h1{
        font-family: 'Heebo', sans-serif;
        width: 50%;
        display: inline-block;
        font-size: 40px;
        border-bottom: 5px solid purple;
        margin-bottom: 15px;
        padding: 13px 0;
    }